@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.text{
    background-image: linear-gradient(to bottom,rgb(255, 188, 101),rgb(231, 131, 39));
    width: 100vw;
    height: 150vh;
} 

p{
    padding: 70px;
    font-family: "Raleway";
    font-size: medium;
    font-weight: bolder;
    text-align: center;
}

input{
    display: inline-block;
    padding-left: 7px;
    justify-items: center;
    height: 30px;
    max-width: 280px;
    margin: 15px;
    margin-left: 24%;
    border-radius: 7px;
}

textarea{
    display: block;
    justify-content: center;
    height: 120px;
    width: 700px;
    padding: 20px;
    margin: auto;
    gap: 30px
}

button{
    overflow: hidden;
    display: flex;
    padding: 4px;
    margin: 40px;
    margin-left: 50%;
    height: 30px;
    width: 60px;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 176, 102);
    font-family: "Roboto";
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    background-color: darksalmon;
    transition: all 0.4s ease;
    border-radius: 10px;
}

.error p {
    color: red; 
    margin: 4px 0 0;
    font-size: small;
    display: flex;
    padding-left: 7px;
    justify-items: center;
    height: 30px;
    max-width: 280px;
    margin: 15px;
    margin-left: 24%;
}

input.ng-invalid.ng-submitted
textarea.ng-invalid.ng-submitted{
    border: 1px solid red;
}