<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
/>
<nav>
  <div class="logo">
    <img src="assets/logo.png">
  </div>
 <ul class="nav-bar">
 
  <li><a routerLink="">Inicio</a></li>
  <li><a routerLink="/noticias">Noticias</a></li>
 
  <li class="dropdown">
    <a class="dropbtn">Contacto</a>
    
    <ul class="dropdown-content">
      <li class = "dropdown">
        <a class="dropbtn-submenu">Redes  ▸</a>
          <ul class="dropdown-content submenu">
            
            <li><a href="https://www.ivoox.com/podcast-otro-programa-de-musica_sq_f11874151_1.html" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-tower-cell"></i>Ivoox</a>  
            <li><a href="https://www.facebook.com/profile.php?id=100092588192078" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook-f"></i>Facebook</a></li>  
            <li><a href="https://www.instagram.com/opdmradio/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
              
          </ul>
    </li>
      <li><a routerLink="/mensaje">Envíanos un mensaje</a></li>
  </ul>
  <li><a routerLink="/biografia">Nuestro Podcast</a></li>

</ul>
</nav>
